
{% extends "base.html" %}

{% load static %}

{% block title %}Add Product - KickStack{% endblock %}

{% block content %}
<div class="min-h-screen flex flex-col w-full justify-center items-center gap-4 p-4">

    <h1 class="font-bold text-4xl">Add Product</h1>
    <form method="POST" class="">
    {% csrf_token %}
    <table class="border-none  bg-base-200 border-base-300 rounded-box w-xs border p-4">
        {{ form.as_table }}
        <tr class="rounded-2xl">
        <td class=""></td>
        <td class="">    
                        <input
            type="submit"
            value="Add NEWS"
            class="rounded-xl px-4 py-2 bg-blue-500 text-white hover:bg-blue-600"
            />

        </td>
        </tr>
    </table>
    </form>

</div>
{% endblock %}