{% load static %}
<!doctype html>
<html data-theme="winter">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KickStack</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

  </head>
  <body class="">
     {% include "partials/navbar.html" %}
  <main class=" pt-20 w-full ">
    {% block content %}{% endblock %}
  </main>
    <footer class="bg-gray-800 text-white p-4 text-center">
    2025 KickStack - Kevin Cornellius Widjaja
  </footer>
  </body>
</html>
<head>
